*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
.main{
        background-image: url(needed_photo/item1_files/BD-en-20250519-TRIFECTA-perspective_86fac4d6-3797-4442-bc43-fb8d166657d2_large.jpg);
        background-position: center center;
        background-size: max(1500px, 100vw);
        background-repeat: no-repeat;
        height: 100vh;
        position: relative;
        overflow: hidden;
}
.bg{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.80;
    position: absolute;
    top: 0px;
}
.main .navigation{
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    z-index: 10;
    align-items: center;
}
.bt button{
    background-color: red;
    color: white;
    border: none;
    padding:3px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}
.container{
    position: relative;
    display: flex;
    z-index: 10;
    width: 100vw;
    height: 60%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}
.item1{
    color: white;
    font-weight: 1000;
    font-size: 60px;
}
.item2{
    color: white;
    font-weight: 1000;
    font-size: 60px;
    margin-bottom: 8px;
}
.item3{
    color: white;
    margin-bottom: 13px;
}
.item4{
    display: flex;
}
.item4 button{
    color: white;
    font-size: 20px;
    font-weight: 500;
    background-color: red;
    padding: 13px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2px;
}
.item4 input{
    font-size: 16px;
    width: 400px;
    color: white;
    padding: 13px;
    border-width: 0.1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    background: none;
    margin: 1px 0px;
    border-radius: 5px;
    margin-right: 10px;
}
.line{
    height: 8px;
    background-color: grey;
    margin-bottom: 30px;
}
.content{
    width: 80vw;
    color: white;
    font-size: 23px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    overflow-x: hidden;
    /* position: relative; */
    margin: 50px auto auto;
}
.con1{
    margin-bottom: 30px;
}
.s{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.scrol{
    display: flex;
    width: 85%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    gap: 13px;
    margin: 30px auto auto;
}
.scrol img{
    width: 170px;
    height: 250px;
    cursor: pointer;
    transition-duration: 0.3s;
}
 .scrol img:hover {
        transform: scale(1.1);
}
.btns {
    height: 120px;
    width: 24px;
    background-color: rgb(36, 36, 36);
    color: white;
    font-size: 22px;
    font-weight: 100;
    /* position: absolute; */
    /* top: 40%; */
    cursor: pointer;
    transition-duration: 0.3s;
    border-width: medium;
    border-style: none;
    border-color: currentcolor;
    border-image: initial;
    border-radius: 8px;
    margin-top: 30px;
}
.btn-left:hover {
    transform: translatex(50%) scale(1.2);
}
.btn-right:hover {
    transform: translatex(-50%) scale(1.2);
}
.tx{
    color: white;
    margin-bottom: 30px;
}
.boxes{
    display: flex;
    gap: 15px;
    width: 90%;
    margin: auto;
}
.box{
    width: 27%;
    height: 300px;
    background: linear-gradient(to right bottom, rgb(13, 13, 43), rgb(75, 20, 79));
    padding: 15px;
    border-radius: 20px;
    font-size: 16px;
}
.big{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    color: white;
}
.small{
    color: gray;
}